body {
  font-family: 'Ubuntu', sans-serif;
  color: #74757b;
  box-sizing: border-box;
}
body .conteiner {
  max-width: 1540px;
  margin: 0px auto;
}
body .header .hamburger {
  display: none;
}
body .header .headerLogo {
  display: none;
}
body .header .menu {
  display: none;
}
@media all and (max-width: 750px) {
  body .header {
    width: 100%;
    height: 165px;
    background-color: #fff;
    box-shadow: 0 10px 8px #dde6f2;
    position: relative;
  }
  body .header .headerLogo {
    display: block;
    margin: 0 auto;
    padding-top: 65px;
  }
  body .header .hamburger {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 65px;
    background: #ffffff;
  }
  body .header .hamburger .hamburgerLine1 {
    display: block;
    width: 57px;
    height: 5px;
    background: #2cd3b8;
    margin-bottom: 12px;
  }
  body .header .hamburger .hamburgerLine2 {
    display: block;
    width: 57px;
    height: 5px;
    background: #2cd3b8;
    margin-bottom: 12px;
  }
  body .header .hamburger .hamburgerLine3 {
    display: block;
    width: 57px;
    height: 5px;
    background: #2cd3b8;
  }
  body .header .menu {
    display: block;
    width: 100%;
    height: 350px;
    background-color: #d9dfdf;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 5;
    margin-top: -400px;
    transition: all ease 1s;
    border-radius: 0 0 5px 5px;
  }
  body .header .menu .headerNav {
    padding: 29px 35px;
    text-align: center;
  }
  body .header .menu .headerNav .headerNavItem {
    margin-bottom: 30px;
  }
  body .header .menu .headerNav .headerNavItem:last-child {
    margin-bottom: 0;
  }
  body .header .menu .headerNav .headerNavItem .headerNavItemLink {
    display: block;
    font-size: 24px;
    color: #0da088;
    text-decoration: underline;
  }
  body .header .menu .headerNav .headerNavItem .headerNavItemLink:hover {
    color: #58bead;
  }
  body .header .menu-active {
    margin-top: 120px;
  }
}
@media all and (max-width: 500px) {
  body .header .hamburger {
    left: 20px;
    bottom: 65px;
  }
  body .header .headerLogo {
    width: 200px;
    padding-top: 50px;
  }
}
@media all and (max-width: 350px) {
  body .header .headerLogo {
    width: 180px;
    padding-top: 55px;
  }
  body .header .hamburger .hamburgerLine1,
  body .header .hamburger .hamburgerLine2,
  body .header .hamburger .hamburgerLine3 {
    width: 45px;
  }
}
@media all and (max-width: 320px) {
  body .header .hamburger {
    left: 10px;
  }
}
body .header .headerImg {
  width: 100%;
}
@media all and (max-width: 750px) {
  body .header .headerImg {
    display: none;
  }
}
body .main .mainInstallation {
  background-color: #eff4f4;
  padding: 80px 0px 70px 0px;
}
@media all and (max-width: 750px) {
  body .main .mainInstallation {
    padding-bottom: 80px;
  }
}
body .main .mainInstallation .conteiner .mainInstallationTitle {
  color: #393e6b;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-bottom: 45px;
  margin-left: 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainInstallation .conteiner .mainInstallationTitle {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainInstallation .conteiner .mainInstallationTitle {
    font-size: 48px;
    text-align: left;
    padding-left: 70px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainInstallation .conteiner .mainInstallationTitle {
    font-size: 43px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainInstallation .conteiner .mainInstallationTitle {
    font-size: 35px;
    padding-left: 50px;
  }
}
body .main .mainInstallation .conteiner .mainInstallationText {
  color: #74757b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 60px;
  margin-left: 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainInstallation .conteiner .mainInstallationText {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainInstallation .conteiner .mainInstallationText {
    font-size: 26px;
    text-align: left;
    padding-left: 70px;
    max-width: 619px;
    margin-bottom: 94px;
    line-height: 36px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainInstallation .conteiner .mainInstallationText {
    padding-right: 20px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainInstallation .conteiner .mainInstallationText {
    font-size: 21px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainInstallation .conteiner .mainInstallationText {
    padding-left: 50px;
  }
}
body .main .mainInstallation .conteiner .mainInstallationBtns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainInstallation .conteiner .mainInstallationBtns {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainInstallation .conteiner .mainInstallationBtns {
    margin-left: 200px;
  }
}
@media all and (max-width: 895px) {
  body .main .mainInstallation .conteiner .mainInstallationBtns {
    margin-left: 175px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainInstallation .conteiner .mainInstallationBtns {
    margin-left: 140px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainInstallation .conteiner .mainInstallationBtns {
    display: block;
    max-width: 625px;
    margin: 0 auto;
  }
}
@media all and (max-width: 623px) {
  body .main .mainInstallation .conteiner .mainInstallationBtns {
    max-width: 500px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainInstallation .conteiner .mainInstallationBtns {
    max-width: 320px;
  }
}
body .main .mainInstallation .conteiner .mainInstallationBtn {
  display: block;
  width: 256px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #393e6b;
  color: #393e6b;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 16px;
  margin-right: 20px;
}
@media all and (max-width: 780px) {
  body .main .mainInstallation .conteiner .mainInstallationBtn {
    width: 624px;
    height: 90px;
    border-radius: 45px;
    font-size: 24px;
    margin-bottom: 30px;
    padding-top: 38px;
  }
  body .main .mainInstallation .conteiner .mainInstallationBtn:last-child {
    margin-bottom: 0;
  }
}
@media all and (max-width: 623px) {
  body .main .mainInstallation .conteiner .mainInstallationBtn {
    width: 500px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainInstallation .conteiner .mainInstallationBtn {
    width: 320px;
    height: 70px;
    font-size: 19px;
    padding-top: 26px;
  }
}
body .main .mainInstallation .conteiner .mainInstallationBtn:last-child {
  margin-right: 0;
}
body .main .mainInstallation .conteiner .mainInstallationBtn:hover,
body .main .mainInstallation .conteiner .mainInstallationBtn:focus {
  background-color: #2cd3b8;
  color: #ffffff;
  border: none;
}
body .main .mainInstallation .conteiner .mainInstallationBtn:active {
  box-shadow: 0px 0px 10px #969393;
}
body .main .mainInstallation .conteiner .active {
  background-color: #2cd3b8;
  color: #ffffff;
  border: none;
}
body .main .mainSimpleInstall {
  padding: 75px 0px 90px;
}
@media all and (max-width: 750px) {
  body .main .mainSimpleInstall {
    padding: 100px 0px 90px;
  }
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallTitle {
  color: #393e6b;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-left: 260px;
  margin-bottom: 30px;
}
@media all and (max-width: 1082px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallTitle {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallTitle {
    font-size: 48px;
    text-align: left;
    padding-left: 70px;
    max-width: 310px;
    margin-bottom: 60px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallTitle {
    font-size: 43px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallTitle {
    font-size: 35px;
    padding-left: 50px;
  }
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallText {
  color: #74757b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-left: 260px;
  margin-bottom: 85px;
}
@media all and (max-width: 1082px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallText {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallText {
    font-size: 26px;
    text-align: left;
    padding-left: 70px;
    max-width: 565px;
    line-height: 36px;
    margin-bottom: 114px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallText {
    font-size: 21px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallText {
    padding-left: 50px;
  }
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 215px;
}
@media all and (max-width: 450px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper {
    flex-direction: column;
  }
}
@media all and (max-width: 830px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper {
    margin-left: 150px;
  }
}
@media all and (max-width: 750px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper {
    margin-left: 60px;
  }
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperRegistration .WrapperNum,
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml .WrapperNum {
  opacity: 0.15;
  color: #393e6b;
  font-size: 150px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.75px;
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperRegistration .WrapperIcon,
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml .WrapperIcon {
  position: relative;
  left: 45px;
  bottom: 25px;
  font-size: 50px;
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperRegistration .WrapperLink,
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml .WrapperLink {
  display: block;
  color: #0da088;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0.45px;
  margin-left: 50px;
  margin-top: 22px;
}
@media all and (max-width: 750px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperRegistration .WrapperLink,
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml .WrapperLink {
    font-size: 26px;
    max-width: 140px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperRegistration .WrapperLink,
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml .WrapperLink {
    font-size: 21px;
  }
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperRegistration .WrapperLink:hover,
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml .WrapperLink:hover {
  color: #58bead;
}
body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml {
  margin-left: 100px;
}
@media all and (max-width: 539px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml {
    margin-left: 20px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainSimpleInstall .conteiner .mainSimpleInstallWrapper .mainSimpleInstallWrapperHtml {
    margin-top: 65px;
  }
}
body .main .mainHtml {
  background-color: #eff4f4;
  padding: 90px 0px;
}
@media all and (max-width: 750px) {
  body .main .mainHtml {
    padding: 90px 0px 53px 0px;
  }
}
body .main .mainHtml .conteiner .mainHtmlTitle {
  color: #393e6b;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin: 0px 0px 70px 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainHtml .conteiner .mainHtmlTitle {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainHtml .conteiner .mainHtmlTitle {
    text-align: left;
    font-size: 48px;
    max-width: 370px;
    padding-left: 70px;
    margin-bottom: 60px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainHtml .conteiner .mainHtmlTitle {
    font-size: 43px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainHtml .conteiner .mainHtmlTitle {
    font-size: 35px;
    padding-left: 50px;
  }
}
body .main .mainHtml .conteiner .mainItem {
  position: relative;
}
@media all and (max-width: 320px) {
  body .main .mainHtml .conteiner .mainItem {
    padding-right: 40px;
  }
}
body .main .mainHtml .conteiner .mainItem::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #3b4269;
  border-radius: 50%;
  position: absolute;
  left: 260px;
  top: 10px;
}
@media all and (max-width: 1082px) {
  body .main .mainHtml .conteiner .mainItem::before {
    left: 185px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainHtml .conteiner .mainItem::before {
    left: 170px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainHtml .conteiner .mainItem::before {
    left: 75px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainHtml .conteiner .mainItem::before {
    left: 50px;
  }
}
body .main .mainHtml .conteiner .mainItem .mainItemLink {
  display: block;
  color: #0da088;
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
  margin: 0 0 15px 300px;
}
@media all and (max-width: 1082px) {
  body .main .mainHtml .conteiner .mainItem .mainItemLink {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainHtml .conteiner .mainItem .mainItemLink {
    margin-left: 200px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainHtml .conteiner .mainItem .mainItemLink {
    margin-left: 110px;
  }
}
@media all and (max-width: 750px) {
  body .main .mainHtml .conteiner .mainItem .mainItemLink {
    font-size: 30px;
    max-width: 407px;
    margin-bottom: 35px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainHtml .conteiner .mainItem .mainItemLink {
    font-size: 26px;
    margin-left: 95px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainHtml .conteiner .mainItem .mainItemLink {
    margin-left: 70px;
  }
}
body .main .mainHtml .conteiner .mainItem .mainItemLink:hover {
  color: #58bead;
}
body .main .mainHtml .conteiner .mainItem .mainItemText {
  color: #74757b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 46px 300px;
}
@media all and (max-width: 1082px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText {
    max-width: 695px;
    margin-left: 200px;
  }
}
@media all and (max-width: 895px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText {
    max-width: 500px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText {
    margin-left: 110px;
  }
}
@media all and (max-width: 750px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText {
    max-width: 514px;
    font-size: 24px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText {
    font-size: 21px;
    margin-left: 95px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText {
    margin-left: 70px;
  }
}
body .main .mainHtml .conteiner .mainItem .mainItemText .ItemTextBold {
  font-size: 16px;
  font-weight: 700;
}
@media all and (max-width: 750px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText .ItemTextBold {
    font-size: 24px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainHtml .conteiner .mainItem .mainItemText .ItemTextBold {
    font-size: 21px;
  }
}
body .main .mainDashboard {
  padding-bottom: 37px;
}
body .main .mainDashboard .conteiner .mainDashboardTitle {
  color: #393e6b;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin: 85px 0px 35px 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainDashboard .conteiner .mainDashboardTitle {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainDashboard .conteiner .mainDashboardTitle {
    font-size: 48px;
    margin: 95px 0px 60px 70px;
    text-align: left;
    max-width: 641px;
    line-height: 50px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainDashboard .conteiner .mainDashboardTitle {
    font-size: 43px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainDashboard .conteiner .mainDashboardTitle {
    font-size: 35px;
    margin-left: 50px;
  }
}
@media all and (max-width: 320px) {
  body .main .mainDashboard .conteiner .mainDashboardTitle {
    font-size: 32px;
    line-height: 35px;
    margin-left: 40px;
  }
}
body .main .mainDashboard .conteiner .mainDashboardSubtitle {
  color: #74757b;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0px 0px 75px 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainDashboard .conteiner .mainDashboardSubtitle {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainDashboard .conteiner .mainDashboardSubtitle {
    font-size: 24px;
    text-align: left;
    padding-left: 70px;
    max-width: 566px;
    margin-bottom: 90px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainDashboard .conteiner .mainDashboardSubtitle {
    font-size: 21px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainDashboard .conteiner .mainDashboardSubtitle {
    padding-left: 50px;
  }
}
@media all and (max-width: 320px) {
  body .main .mainDashboard .conteiner .mainDashboardSubtitle {
    padding-left: 40px;
  }
}
body .main .mainDashboard .conteiner .mainItem {
  position: relative;
}
@media all and (max-width: 320px) {
  body .main .mainDashboard .conteiner .mainItem {
    padding-right: 40px;
  }
}
body .main .mainDashboard .conteiner .mainItem::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #3b4269;
  border-radius: 50%;
  position: absolute;
  left: 260px;
  top: 10px;
}
@media all and (max-width: 1082px) {
  body .main .mainDashboard .conteiner .mainItem::before {
    left: 196px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainDashboard .conteiner .mainItem::before {
    left: 170px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainDashboard .conteiner .mainItem::before {
    left: 75px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainDashboard .conteiner .mainItem::before {
    left: 50px;
  }
}
body .main .mainDashboard .conteiner .mainItem .mainItemLink {
  display: block;
  color: #0da088;
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
  margin: 0 0 15px 300px;
}
@media all and (max-width: 1082px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemLink {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemLink {
    margin-left: 200px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemLink {
    margin-left: 110px;
  }
}
@media all and (max-width: 750px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemLink {
    font-size: 30px;
    max-width: 426px;
    margin-bottom: 40px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemLink {
    font-size: 26px;
    margin-left: 95px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemLink {
    margin-left: 70px;
  }
}
body .main .mainDashboard .conteiner .mainItem .mainItemLink:hover {
  color: #58bead;
}
body .main .mainDashboard .conteiner .mainItem .mainItemText {
  color: #74757b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 46px 300px;
}
@media all and (max-width: 1082px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText {
    max-width: 695px;
    margin-left: 200px;
  }
}
@media all and (max-width: 895px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText {
    max-width: 500px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText {
    margin-left: 110px;
  }
}
@media all and (max-width: 750px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText {
    max-width: 381px;
    font-size: 24px;
    max-width: 560px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText {
    font-size: 21px;
    margin-left: 95px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText {
    margin-left: 70px;
  }
}
body .main .mainDashboard .conteiner .mainItem .mainItemText .ItemTextBold {
  font-size: 16px;
  font-weight: 700;
}
@media all and (max-width: 750px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText .ItemTextBold {
    font-size: 24px;
    font-weight: 400;
  }
}
@media all and (max-width: 500px) {
  body .main .mainDashboard .conteiner .mainItem .mainItemText .ItemTextBold {
    font-size: 21px;
  }
}
body .main .mainAfterinstall {
  background-color: #eff4f4;
  padding: 75px 0px 70px 0px;
}
@media all and (max-width: 750px) {
  body .main .mainAfterinstall {
    padding: 90px 0px 100px 0px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallTitle {
  color: #393e6b;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin: 0px 0px 25px 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallTitle {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallTitle {
    font-size: 48px;
    text-align: left;
    padding-left: 70px;
    max-width: 562px;
    margin-bottom: 55px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallTitle {
    font-size: 43px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallTitle {
    padding-left: 50px;
    font-size: 35px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallSubtitle {
  color: #74757b;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0px 0px 65px 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallSubtitle {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallSubtitle {
    font-size: 24px;
    text-align: left;
    padding-left: 70px;
    max-width: 561px;
    margin-bottom: 80px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallSubtitle {
    font-size: 21px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallSubtitle {
    padding-left: 50px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallList {
  margin: 0px 0px 75px 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList {
    margin-left: 200px;
  }
}
@media all and (max-width: 895px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList {
    margin-left: 150px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList {
    margin-left: 100px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList {
    margin: 0px 0px 100px 70px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList {
    margin-left: 50px;
  }
}
@media all and (max-width: 350px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList {
    margin-left: 0;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media all and (max-width: 750px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem {
    margin-bottom: 40px;
  }
}
@media all and (max-width: 350px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem {
    flex-direction: column;
    text-align: center;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem:last-child {
  margin-bottom: 0;
}
body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemImg {
  margin-right: 35px;
}
@media all and (max-width: 750px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemImg {
    margin-right: 45px;
  }
}
@media all and (max-width: 350px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemImg {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemText {
  font-size: 18px;
  font-weight: 400;
}
@media all and (max-width: 750px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemText {
    font-size: 24px;
    max-width: 392px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemText {
    font-size: 21px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemText .ListItemBold {
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
  color: #393e6b;
}
@media all and (max-width: 500px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallList .mainAfterinstallListItem .ListItemText .ListItemBold {
    font-size: 21px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
  display: flex;
  align-items: center;
  margin-left: 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
    margin-left: 200px;
  }
}
@media all and (max-width: 895px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
    margin-left: 150px;
  }
}
@media all and (max-width: 830px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
    margin-left: 125px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
    display: block;
    max-width: 624px;
    margin: 0 auto;
  }
}
@media all and (max-width: 623px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
    max-width: 500px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns {
    max-width: 320px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn {
  display: block;
  width: 276px;
  height: 48px;
  border-radius: 24px;
  background-color: #3b4269;
  margin-right: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
}
@media all and (max-width: 780px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn {
    width: 624px;
    height: 90px;
    border-radius: 45px;
    font-size: 24px;
    padding-top: 35px;
    margin-bottom: 30px;
  }
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn:last-child {
    margin-bottom: 0;
  }
}
@media all and (max-width: 623px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn {
    width: 500px;
    margin-right: 0;
  }
}
@media all and (max-width: 500px) {
  body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn {
    max-width: 320px;
    height: 70px;
    font-size: 19px;
    padding-top: 26px;
  }
}
body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn:last-child {
  margin-right: 0;
}
body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn:hover,
body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn:focus {
  background-color: #2cd3b8;
}
body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .mainAfterinstallBtn:active {
  box-shadow: 0px 0px 10px #969393;
}
body .main .mainAfterinstall .conteiner .mainAfterinstallBtns .active {
  background-color: #2cd3b8;
}
body .main .mainChannels {
  padding: 65px 0px 75px;
}
@media all and (max-width: 750px) {
  body .main .mainChannels {
    padding: 90px 0px 60px;
  }
}
body .main .mainChannels .conteiner .mainChannelsText {
  color: #393e6b;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  max-width: 646px;
  margin: 0px 0px 75px 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainChannels .conteiner .mainChannelsText {
    margin-left: 0px;
    text-align: center;
  }
}
@media all and (max-width: 750px) {
  body .main .mainChannels .conteiner .mainChannelsText {
    text-align: left;
    padding-left: 70px;
    font-size: 24px;
    max-width: 610px;
    margin-bottom: 80px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainChannels .conteiner .mainChannelsText {
    font-size: 21px;
  }
}
@media all and (max-width: 450px) {
  body .main .mainChannels .conteiner .mainChannelsText {
    padding-left: 50px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 970px;
  margin-left: 260px;
}
@media all and (max-width: 1082px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper {
    margin-left: 220px;
  }
}
@media all and (max-width: 980px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper {
    margin-left: 200px;
  }
}
@media all and (max-width: 895px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper {
    margin-left: 130px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper {
    flex-direction: column;
    margin-left: 70px;
    align-items: flex-start;
  }
}
@media all and (max-width: 450px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper {
    margin-left: 50px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(1) {
  margin-right: 135px;
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(2) {
  margin-right: 85px;
}
@media all and (max-width: 923px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(2) {
    margin-right: 0;
  }
}
@media all and (max-width: 1227px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(3) {
    margin-left: 2px;
    margin-right: 82px;
  }
}
@media all and (max-width: 923px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(3) {
    margin-right: 81px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(3) {
    margin-left: 2px;
  }
}
@media all and (max-width: 750px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem {
    margin-bottom: 45px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(4) {
  margin-left: -4px;
  margin-right: 165px;
}
@media all and (max-width: 923px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(4) {
    margin-right: 0;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(5) {
  margin-left: -7px;
  margin-right: 150px;
}
@media all and (max-width: 1227px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(5) {
    margin-right: 158px;
  }
}
@media all and (max-width: 1082px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(5) {
    margin-right: 157px;
  }
}
@media all and (max-width: 1041px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(5) {
    margin-right: 156px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(5) {
    margin-left: -4px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(6) {
  margin-left: -11px;
}
@media all and (max-width: 1227px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(6) {
    margin-right: 241px;
  }
}
@media all and (max-width: 1041px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(6) {
    margin-right: 97px;
  }
}
@media all and (max-width: 923px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(6) {
    margin-right: 0;
  }
}
@media all and (max-width: 895px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(6) {
    margin-right: 41px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(6) {
    margin-left: -4px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(7) {
  margin-left: -8px;
}
@media all and (max-width: 1227px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(7) {
    margin-left: -13px;
  }
}
@media all and (max-width: 780px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem:nth-child(7) {
    margin-left: -10px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem .mainChannelsWrapperItemIcon {
  margin-right: 30px;
  font-size: 40px;
}
@media all and (max-width: 500px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem .mainChannelsWrapperItemIcon {
    font-size: 30px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem .mainChannelsWrapperItemLink {
  display: block;
  color: #0da088;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}
@media all and (max-width: 750px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem .mainChannelsWrapperItemLink {
    font-size: 24px;
  }
}
@media all and (max-width: 500px) {
  body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem .mainChannelsWrapperItemLink {
    font-size: 21px;
  }
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem .mainChannelsWrapperItemLink:hover {
  color: #58bead;
}
body .main .mainChannels .conteiner .mainChannelsWrapper .mainChannelsWrapperItem .indent {
  padding-top: 20px;
}
body .footer .footerImg {
  width: 100%;
}
@media all and (max-width: 750px) {
  body .footer .footerImg {
    display: none;
  }
}
body .footer .footerBg {
  display: none;
}
@media all and (max-width: 750px) {
  body .footer .footerBg {
    display: inline-block;
    width: 100%;
  }
}
